html, body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-image: url('http://s1.picswalls.com/wallpapers/2015/09/27/star-wars-background_102659274_273.jpeg') /*no-repeat center center fixed*/;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  height:100%;
  margin: auto;
}

.App-logo {
  height: 20vmin;
  margin: 10px;
}

.App-header {
  background-color: rgba(99,101,105, 0.3);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 20px;
  margin: 10px
}

.App-link {
  color: #09d3ac;
}

.moviebox {
  column-count: 4;
  column-width: 23%;
  /* display: flex; */
}

.moviesPictureBox{
  width: 236px;
  height: 334px;
}

.movies {
  width: 314px;
  height: 445px;
  margin-left: 50px;
}

.display{
  display: flex;
  column-count: 3;
  column-width: 30%;
  justify-content: space-around;
  
}
.movie-chars, .movie-planets, .movie-spaceships {
  background-color: rgba(99,101,105, 0.3);
  border-radius: 20px;
  
}
h2 {
  text-decoration: underline
}
  /* flex-direction: row; */ 
  /* flex-wrap: wrap;
  margin: auto;} 

/* .movie-row::after {
  display: flex;
} */